h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.instruction {
    margin-right: 10px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    width: 10px;
    height: 200px;
}

.column:hover {
    cursor: pointer;
    background-color: gray;
}

.columns {
    margin-top: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.base {
    text-align: center;
    color: white;
    background-color: black;
    height: 15px;
    width: 150px;
}

.first-disc {
    background-color: blue;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 80px;
}

.second-disc {
    background-color: blueviolet;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 110px;
}

.third-disc {
    background-color: chartreuse;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 140px;
}

.fourth-disc {
    background-color: rgb(247, 0, 255);
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 170px;
}

.fifth-disc {
    background-color: crimson;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 200px;
}