html {
    background-color: whitesmoke;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(253, 246, 246);
    background-color: rgba(255, 255, 255, 0.4);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    height: 160px;
    background-color: #790a0a;
    margin: 60% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

body {
    height: 600px;
}

header {
    height: 150px;
    margin: 0;
    background-color: wheat;
    border-radius: 40px;
    box-shadow: 1px 2px 2px #222222;
}

header:hover {
    box-shadow: 0 0 0 white;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 60px 0 0 0;
}

h2 {
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.messageBox {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.back {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top {
    background-color: black;
    margin: 20px 0 0 0;
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top p {
    color: white;
    margin: 0;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    width: 10px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 2px 2px #222222;
    margin: 99px 0 0 98px;
}

.column:hover {
    cursor: pointer;
    background-color: gray;
    box-shadow: 0 0 0 red;
}

.column:hover {
    cursor: pointer;
    background-color: gray;
}

.columns {
    margin: 0;
    width: 200px;
    height: 200px;
    align-items: center;
}

.columns:hover {
    background-color: white;
}

.base {
    background-color: black;
    height: 15px;
    width: 100%;
    box-shadow: 1px 2px 2px #222222;
}


/* #disc{
    z-index: 2;
    transition: left .2s, bottom .2s .2s;
    pointer-events: none;
} */

.first-disc {
    background-color: blue;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 60px;
    box-shadow: 1px 2px 2px #222222;
}

.second-disc {
    background-color: blueviolet;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 90px;
    box-shadow: 1px 2px 2px #222222;
}

.third-disc {
    background-color: chartreuse;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 120px;
    box-shadow: 1px 2px 2px #222222;
}

.fourth-disc {
    background-color: rgb(247, 0, 255);
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 150px;
    box-shadow: 1px 2px 2px #222222;
}

.fifth-disc {
    background-color: crimson;
    border-radius: 15px 15px 15px 15px;
    height: 15px;
    width: 180px;
    box-shadow: 1px 2px 2px #222222;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 30px 0 0 0;
}

.restart-button {
    background-color: #cf0202;
    color: white;
    box-shadow: 1px 2px 2px #222222;
    border-radius: 40px;
    height: 40px;
}

.restart-button:hover {
    box-shadow: 0px 0px 0px #222222;
}

.difficulty-button {
    background-color: #8d1a1a;
    color: white;
    box-shadow: 1px 2px 2px #222222;
    border-radius: 40px;
}

.difficulty-button:hover {
    box-shadow: 0px 0px 0px #222222;
}

.decreaseDifficulty-button {
    background-color: #921212;
    color: white;
    box-shadow: 1px 2px 2px #222222;
    border-radius: 40px;
}

.decreaseDifficulty-button:hover {
    box-shadow: 0px 0px 0px #222222;
}

@media screen and (max-width: 760px) {
    header {
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin: 43px 0px 10px 0px;
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
        text-align: center;
    }
    /* h3{

    } */
    .column {
        margin: 99px 0 0 45px;
    }
    .first-disc {
        width: 30px;
    }
    .second-disc {
        width: 45px;
    }
    .third-disc {
        width: 55px;
    }
    .fourth-disc {
        width: 65px;
    }
    .fifth-disc {
        width: 75px;
    }
    footer {
        flex-direction: column;
        margin: 30px 56px 0px 53px;
    }
}

@media screen and (min-width :768px) {
    .modal-content {
        font-size: 35px;
        height: 188px;
        margin: 30% auto;
    }
}

@media screen and (min-width :1024px) {
    .modal-content {
        font-size: 40px;
        height: 190px;
        margin: 22.5% auto;
    }
}

@media screen and (min-width :1440px) {
    .modal-content {
        font-size: 45px;
        height: 188px;
        margin: 16% auto;
    }
}

@media screen and (min-width :2560px) {
    .modal-content {
        font-size: 50px;
        height: 188px;
        margin: 9% auto;
    }
}